<app-detail (close)="closeDetail($event)" *ngIf="loadCategories">

  <h1
    detail-title>{{ (registerSelected) ? ('label.edit.registry' | translate) : (typeRegister === 'deposit') ? ('label.add.deposit' | translate) : ('label.add.expense' | translate)}}</h1>

  <form detail-content [formGroup]="formAddRegister" (ngSubmit)="addRegister()">

    <div class="row form-group">
      <div class="col-12 mb-2">
        <label for="description">{{'label.description' | translate}}</label>
        <input
          type="text"
          name="description"
          id="description"
          formControlName="description"
          class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12 mb-2">
        <label for="date">{{'label.date' | translate}}</label>
        <p-calendar
          inputStyleClass="form-control"
          name="date"
          dateFormat="dd/mm/yy"
          formControlName="date"
          id="date"
          [readonlyInput]="true"
          [locale]="locale"
        ></p-calendar>
      </div>
    </div>

    <!--Editar el tipo de registro-->
    <div class="row form-group" *ngIf="registerSelected">
      <div class="col-12">
        <label for="type">{{'label.type' | translate}}</label>
        <select name="type" id="type" formControlName="type" class="custom-select">
          <option value="deposit" [selected]="registerSelected.type === 'deposit'">{{'deposit' | translate}}</option>
          <option value="expense" [selected]="registerSelected.type === 'expense'">{{'expense' | translate}}</option>
        </select>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-12">
        <label for="category">{{'label.category' | translate}}</label>
        <select name="category" id="category" formControlName="idCategory" class="custom-select">
          <option [value]="category.id"
                  [selected]="category.id === formAddRegister.get('idCategory').value"
                  *ngFor="let category of listCategories">{{category.name}}</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12 mb-2">
        <label for="quantity">{{'label.quantity' | translate}}</label>
        <input
          type="number"
          name="quantity"
          id="quantity"
          formControlName="quantity"
          class="form-control"
          [ngClass]="{'is-valid': formAddRegister.get('quantity').dirty && !formAddRegister.get('quantity').errors, 'is-invalid': formAddRegister.get('quantity').dirty && formAddRegister.get('quantity').errors}">

        <div class="valid-feedback">
          <span>{{'label.correct' | translate}}</span>
        </div>


        <div class="invalid-feedback">
          <span
            *ngIf="formAddRegister.get('quantity').dirty && formAddRegister.get('quantity').errors?.required">{{'label.required'  | translate}}</span>
          <span
            *ngIf="formAddRegister.get('quantity').dirty && formAddRegister.get('quantity').errors?.isNotNumber">{{'label.is.not.number'  | translate}}</span>
          <span
            *ngIf="formAddRegister.get('quantity').dirty && formAddRegister.get('quantity').errors?.isZero">{{'label.required'  | translate}}</span>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button
          [disabled]="formAddRegister.invalid"
          type="submit"
          class="btn btn-primary btn-block mt-4">{{ (registerSelected) ? ('label.edit.registry' | translate) : (typeRegister === 'deposit') ? ('label.add.deposit' | translate) : ('label.add.expense' | translate)}}</button>
      </div>
    </div>

  </form>

</app-detail>


<ng-template #modal_success let-modal>

  <!-- Modal -->
  <div class="modal-header">
    <h5 class="modal-title">{{'label.success' | translate}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'label.add.registry.success' | translate}}
  </div>

</ng-template>


<ng-template #modal_error let-modal>

  <!-- Modal -->
  <div class="modal-header">
    <h5 class="modal-title">{{'label.error' | translate}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'label.add.registry.error' | translate}}
  </div>

</ng-template>
