<form>



  <div class="row form-group">
    <div class="col-lg-4 col-md-3 col-12" *ngIf="showYears">
      <label for="category">{{'label.year' | translate}}</label>
      <select name="year"
              id="year"
              [(ngModel)]="filterForm.year"
              class="custom-select"
              (change)="filterData()"
      >
        <option [value]="year" *ngFor="let year of years">{{year}}</option>
      </select>
    </div>


    <div class="col-lg-2 col-md-3 col-12 align-self-end" *ngIf="showDateStartEnd">
      <label for="dateStart">{{'label.date.start' | translate}}</label>
      <p-calendar
        showButtonBar="true"
        (onTodayClick)="filterData()"
        (onClearClick)="filterData()"
        [readonlyInput]="true"
        dateFormat="dd/mm/yy"
        inputStyleClass="form-control"
        name="dateStart"
        id="dateStart"
        (onSelect)="filterData()"
        [(ngModel)]="filterForm.dateStart"
      >
      </p-calendar>
    </div>

    <div class="col-lg-2 col-md-3 col-12 align-self-end" *ngIf="showDateStartEnd">
      <label for="dateEnd">{{'label.date.end' | translate}}</label>
      <p-calendar
        showButtonBar="true"
        (onTodayClick)="filterData()"
        (onClearClick)="filterData()"
        [readonlyInput]="true"
        dateFormat="dd/mm/yy"
        inputStyleClass="form-control"
        name="dateEnd"
        id="dateEnd"
        (onSelect)="filterData()"
        [(ngModel)]="filterForm.dateEnd"
      >
      </p-calendar>
    </div>

    <div class="col-lg-2 col-12 align-self-end" [ngClass]="{'col-md-3': showYears, 'col-md-2': !showYears}" >
      <label for="quantityMin">{{'label.quantity.min' | translate}}</label>
      <input type="text"
             name="quantityMin"
             id="quantityMin"
             (keyup)="filterData()"
             [(ngModel)]="filterForm.quantityMin"
             class="form-control">
    </div>

    <div class="col-lg-2 col-12 align-self-end" [ngClass]="{'col-md-3': showYears, 'col-md-2': !showYears}" >
      <label for="quantityMax">{{'label.quantity.max' | translate}}</label>
      <input type="text"
             name="quantityMax"
             id="quantityMax"
             (keyup)="filterData()"
             [(ngModel)]="filterForm.quantityMax"
             class="form-control">
    </div>

    <div class="col-lg-4 col-12 align-self-end" [ngClass]="{'col-md-3': showYears, 'col-md-2': !showYears}">
      <label for="category">{{'label.category' | translate}}</label>
      <select name="category"
              id="category"
              [(ngModel)]="filterForm.idCategory"
              class="custom-select"
              (change)="filterData()"
      >
        <option [value]="category.id" *ngFor="let category of listCategories">{{category.name}}</option>
      </select>
    </div>
  </div>
</form>
